.base{
  display: inline-block;
  width: 100%;
  background-color: #fff;
}
.row {
  display: flex;
  padding: 10px;
  align-items: center;
}

.heading {
  padding-bottom: 0;
  justify-content: space-between;
}

.menuWrapper {
  color: #545454;
  display: inline-block;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
  font-size: 12px;
}

.searchWrapper {
  width: calc(100% - 53px);
  display: flex;
}

.button {
  display: flex;
  background-color: #e3472f;
  color: #fff;
  border: none;
  padding: 0;
  border-radius: 4px;
}

.btnIcon {
  font-size: 7px;
  padding: 10px;
  border-right: 1px solid #6767673b;
}
.btnText {
  font-weight: bolder;
  padding: 10px 15px;
}
.buttonWrapper {
  display: inline-block;
}
.profile {
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
.avatar {
  line-height: 0;
  border-radius: 5px;
  overflow: hidden;
  width: 35px;
  position: relative;
}
.avatarImg {
  width: 100%;
}
.notifications {
  left: -10px;
  position: absolute;
  top: 9px;
  color: #fff;
  background-color: #e3472f;
  width: 18px;
  height: 16px;
  padding-top: 2px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  border-radius: 4px;
}
.addPost {
  display: flex;
}
