.base {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.icon {
  position: absolute;
  color: rgb(202, 202, 202);
  font-size: 10px;
  margin: 14px 8px;
}
.input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 19px;
  padding: 13px 0 13px 35px;
}
