:global(body) {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
.App {
  min-height: 100vh;
  background-color: #7bb51c;
  background-image: radial-gradient( rgba(0, 0, 0, 0) 30%, #00000038 100%);
  position: relative;
}

.chuckImg {
  max-width: 100%;
  position: relative;
  bottom: -5px;
}

@media screen and (min-width: 400px) {
  .chuckImg {
    max-width: 360px;
    margin: 0 auto;
    display: block;
  }
}
